@use 'variables' as v;
@use 'mixins' as m;

html {
    font-size: 62.5%;
    box-sizing: border-box;
    height: 100%;
}
body {
    //Entre mas contenido tenga la pagina, mas tiende a crecer el body con este estilo
    min-height: 100%;

    //Definimos que el body mantenga un height del 100%, para que no se alteren las imagenes
    //Esto en caso de que se tenga por el ejemplo que el contenido que acompaña a la imagen sea mayor al tamaño de la misma pues esto
    //causara que esta tienda a crecer, esto se soluciona ademas de con esta propiedad, añadiendo un overflow al otro contenido
    @include m.tablet{
        height: 100%;
    }

    display: flex;
    flex-direction: column;
    background-color: v.$negro;
    color: v.$blanco;
    font-family: v.$fuente_principal;
    font-size: 1.6rem;
}
*, *:before, *:after {
    box-sizing: inherit;
}

.contenedor {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
}
a {
    text-decoration: none;
}

img {
    max-width: 100%;
}
